{
  "http.port": {{port}},
  "http.instances": 1,
  "req.timeout": 10000,
  "profile.retention.duration": 30,
  "storage": "S3",
  "S3": {
    "end.point": "{{d42_end_point}}",
    "access.key": "{{access_key}}",
    "secret.key": "{{secret_key}}"
  }
}
